Source: invaders
Section: misc
Priority: optional
Maintainer: Fabian Greffrath <fabian@debian-unofficial.org>
Build-Depends: debhelper (>= 5), dpatch
Standards-Version: 3.7.2

Package: grub-invaders
Architecture: i386 hurd-i386 kfreebsd-i386 amd64 kfreebsd-amd64
Recommends: grub2 (>= 1.95+20070515-1) | grub
Description: multiboot compliant kernel game
 GRUB Invaders is a game that runs directly on a computer, without an operating
 system. It is meant to be started with the GRUB bootloader for PCs.
 .
  Homepage: <http://www.erikyyy.de/invaders/>
