#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	sh ./compile.sh

override_dh_auto_clean:
	sh ./clean.sh

override_dh_fixperms:
	dh_fixperms
	chmod 0644 debian/grub-invaders/boot/invaders.exec
	chmod 0755 debian/grub-invaders/etc/grub.d/22_invaders

override_dh_strip:
	dh_strip
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	strip --remove-section=.comment --remove-section=.note \
	debian/grub-invaders/boot/invaders.exec
endif
